/* styles.css */

.container {
    display: flex;
}

.large-box {
    font-size: 144px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    height: 220px;
    width: 200px;
    text-align: center;
}


.info-box {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    position: absolute;
    left: 20px;
    width: 200px;
    word-wrap: normal;
    top: 340px;
    overflow-y: scroll;
    bottom: 5%;
    background-color: white;
    padding: 8px;
}



.color-defaults {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid #8b8b8b;
    /* Border color */

    cursor: pointer;
    /* Background color (initially red) */
}

.charsetmenu {
    margin-bottom: 20px;
}

.grid-column {
    margin-left: 20px;
    flex-grow: 1;
    flex-direction: row;
    /* Allow the grid column to be scrollable */
}

.macro-grid {
    padding-right: 20px;
    display: flex;
    overflow-y: scroll;
    max-height: 88vh;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: 15px;
}

.grid span {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #000;
    text-align: center;
    font-size: 20px;
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    background-color: white;
}

.search-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    overflow-y: scroll;
    max-height: 86vh;
}

.search-grid span {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #000;
    text-align: center;
    font-size: 20px;
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    background-color: white;
}

.top-menu {
    display: flex;
}

.top-menu div {
    margin-right: 10px;
}


body {
    cursor: default;
    /* Set the default cursor style */
}

.paintbrush-cursor {
    cursor: crosshair;
    /* Set the paintbrush cursor style */
}

.search-column {
    background-color: #f5f5f5;
    padding: 10px;
    margin-left: 5px;
}

#searchBar {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    font-size: 16px;
}

#popup-menu-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#popup-menu {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    flex-direction: row;
}

#tabs {
    width: 100px;
    text-align: left;
    margin-right: 20px;
}

#tabs button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background: #ddd;
    border: none;
    text-align: left;
    cursor: pointer;
}

#tabs button:hover {
    background: #ccc;
}

#close-btn {
    cursor: pointer;
    position: relative;
    top: 0;
    right: 0;
    font-size: 18px;
}

.submenu {
    display: none;
    flex: 1;
    text-align: left;
}

.submenu.active {
    display: block;
}

.slider-container {
    margin-bottom: 20px;
}

.top-menu {
    padding: 10px;
    background-color: #e2e2e2;
}

.info-column {
    background-color: #f5f5f5;
}


.search-type-dropdown {
    padding: 5px;
    margin: 5px;
}

.character-set-dropdown {
    padding: 5px;
}

.popup-menu-btn {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.search-bar {
    margin: 5px;
    margin-bottom: 8px;
}