<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="top-menu">
        <div class="charsetmenu" id="menu">
            <label for="inputStrings">Select a Character Set:</label>
            <select id="inputStrings"></select>
        </div>
        <div>
            <input type="color" id="colorPicker" value="#000000">
        </div>
        <div id="colorButtons"></div>
        <div>
            <input type="checkbox" id="toggleCheckbox" onchange="toggleCursor()">
            <label for="toggleCheckbox">Toggle Paint Mode</label>
        </div>

        <div>
            <button id="open-popup-menu-btn">Menu</button>
        </div>

        <div id="popup-menu-container">
            <div id="popup-menu">
                <div id="tabs">
                    <button onclick="showSubmenu('submenu1')">Color Sets</button>
                    <button onclick="showSubmenu('submenu2')">Languages</button>
                </div>

                <div class="submenu active" id="submenu1">
                    <h2>Import/Export Colorings</h2>
                    <h3>Use this to save your current colorings as a .json file</h3>
                    <div><button id="export">Export</button></div>
                    <br>

                    <h3>Use this to upload a .json file with your saved colorings. <br>
                        Be careful! This will overwrite all your current colorings!</h3>
                    <div><input type="file" id="fileInput" accept=".json"></div>
                    <br>

                    <h3>Use this to reset all your current colorings. Be careful!</h3>
                    <div><button id="clear">Clear All</button></div>
                    <br>

                </div>

                <div class="submenu" id="submenu2">
                    <h2>Enable Languages</h2>

                    <h3>Chinese</h3>
                    <div>
                        <input type="checkbox" id="chineseSimpTradCheckbox" onchange="toggleCursor()">
                        <label for="chineseSimpTradCheckbox">Toggle Simplified/Traditional</label>
                        <input type="checkbox" id="chineseMandarinCheckbox" onchange="toggleCursor()">
                        <label for="chineseMandarinCheckbox">Toggle Mandarin</label>
                    </div>
                    <div>
                        <input type="checkbox" id="chineseCantoneseCheckbox" onchange="toggleCursor()">
                        <label for="chineseCantoneseCheckbox">Toggle Cantonese</label>
                        <input type="checkbox" id="chineseTangCheckbox" onchange="toggleCursor()">
                        <label for="chineseTangCheckbox">Toggle Tang-era Reading</label>
                    </div>
                    <br>

                    <h3>Japanese</h3>
                    <div>
                        <input type="checkbox" id="japaneseMeaningCheckbox" onchange="toggleCursor()">
                        <label for="japaneseMeaningCheckbox">Toggle Japanese Meanings</label>
                        <input type="checkbox" id="japaneseKunCheckbox" onchange="toggleCursor()">
                        <label for="japaneseKunCheckbox">Toggle Japanese Kun-Readings</label>
                    </div>
                    <div>
                        <input type="checkbox" id="japaneseOnCheckbox" onchange="toggleCursor()">
                        <label for="japaneseOnCheckbox">Toggle Japanese On-Readings</label>
                        <input type="checkbox" id="japaneseExtrasCheckbox" onchange="toggleCursor()">
                        <label for="japaneseExtrasCheckbox">Toggle Japanese Extra Info</label>
                    </div>
                    <br>

                    <h3>Korean</h3>
                    <div>
                        <input type="checkbox" id="koreanCheckbox" onchange="toggleCursor()">
                        <label for="koreanCheckbox">Toggle Hanja Readings</label>
                    </div>
                    <br>

                    <h3>Vietnamese</h3>
                    <div>
                        <input type="checkbox" id="vietnameseCheckbox" onchange="toggleCursor()">
                        <label for="vietnameseCheckbox">Toggle Chu Nom/Han Nom Readings</label>
                    </div>
                    <br>
                </div>

                <div id="close-btn" onclick="closePopupMenu()">X</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="large-box" id="largeBox"></div>
        <div class="info-box" id="infoBox"></div>
        <div class="grid-column">
            <div class="macro-grid" id="macroGrid"></div>
        </div>
        <div class="search-column">
            <input type="text" id="searchBar" placeholder="Search...">
            <div class="search-grid" id="searchGrid"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>