<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="top-menu">
        <div class="charsetmenu" id="menu">
            <label for="inputStrings">Select a Character Set:</label>
            <select id="inputStrings"></select>
        </div>
        <div>
            <input type="color" id="colorPicker" value="#000000">
        </div>
        <div id="colorButtons"></div>
        <div>
            <input type="checkbox" id="toggleCheckbox" onchange="toggleCursor()">
            <label for="toggleCheckbox">Toggle Paint Mode</label>
        </div>

        <div>
            <button id="export">Export</button>
        </div>

        <div>
            <input type="file" id="fileInput" accept=".json">
        </div>

        <div>
            <button id="clear">Clear All</button>
        </div>

    </div>
    <div class="container">
        <div class="large-box" id="largeBox"></div>
        <div class="info-box" id="infoBox"></div>
        <div class="grid-column">
            <div class="macro-grid" id="macroGrid"></div>
        </div>
        <div class="search-column">
            <input type="text" id="searchBar" placeholder="Search...">
            <div class="search-grid" id="searchGrid"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>